<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" metadata-complete="false"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemalocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>GWT Bean Valdiators - Example</display-name>
	<description>
		Little example how to use bean validators in a GWT application (client and server side validation).
	</description>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
